{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="navigation">

    <h1><span style="color: 00ff00">Banana</span>Shop</h1>

<a class="navlink" href="/">Главная</a>
<a class="navlink" href="/products">Товары</a>
</div>
<div class="productDetails">
    <img class="productImage" src="{{ product.image_url }}">
    <div class="ProductTitle">
        <h1>{{ product.name }}</h1>
        <div class="productPrice">
            <h3>{{ product.price }} ₽</h3>
        <a href="/payment/{{ product.id }}">
                <button>Купить</button>
            </a>
        </div>
    </div>
</div>
<div class="productDescription">
    <h2>Описание:</h2>
    <p>{{ product.description }}</p>
</div>

